.header {
  padding: 0 3rem;
  height: 100px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header_label,
.header_input {
  display: none !important;
}

.nav_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
  column-gap: 2rem;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
}

.nav_links a:hover {
  color: #e83a1a;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 3rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.circle {
  width: 800px;
  height: 800px;
  position: absolute;
  left: -100px;
  top: -200px;
  z-index: -1;
}

.fleur {
  position: absolute;
  top: 10px;
  left: 900px;
  opacity: 0.20000000298023224;
}

.sheet {
  position: absolute;
  top: -4px;
  left: 512px;
  opacity: 0.20000000298023224;
}

.sheet_1 {
  position: absolute;
  opacity: 0.20000000298023224;
  left: 1000px;
  top: 278px;
}

.hero_text {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.headline {
  color: #101a24;
  font-size: 58px;
  font-family: David Libre;
  font-weight: 700;
  line-height: 64px;
}

.hero_description {
  color: #5c6574;
  font-size: 20px;
  font-family: Inter;
  line-height: 30px;
}

.links_network {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}

.links_network img:hover {
  cursor: pointer;
}

.links_network img[alt='Line bar'] {
  opacity: 0.15000000596046448;
  background: #000;
}

.service_section {
  /* position: relative; */
  background: #f3f4f4 !important;
  /* height: 800px; */
}

.rameau {
  opacity: 0.10000000149011612;
  position: absolute;
  top: 800px;
  left: 29px;
  background: none;
  z-index: 9;
}

.tor1 {
  opacity: 0.10000000149011612;
  position: absolute;
  bottom: -1%;
  right: -10%;
  background: none;
  z-index: none;
  transform: translate(-1%, -10%);
}

.rameauInvercer {
  opacity: 0.10000000149011612;
  position: absolute;
  top: 800px;
  right: 183px;
  background: none;
  z-index: 9;
}

.service_title {
  color: #000;
  font-size: 48px;
  font-family: David Libre;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center !important;
  padding: 2rem 0 !important;
}

.teams_title {
  color: #000;
  font-size: 48px;
  font-family: David Libre;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.service_description {
  color: #5c6574;
  text-align: center;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  width: 376px;
  text-align: center;
  margin: 0 auto;
}

.service_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem 2rem;
  align-items: center;
  padding: 60px 0 0 0;
}

.service_item {
  width: 22%;
  text-align: center;
  background-color: #fff;
  border-radius: 60px 20px;
  padding: 2rem;
  margin-bottom: 3rem;
  z-index: 9;
  position: relative;
}

.service_item_image {
  position: absolute;
  top: -15%;
  left: 15%;
  transform: translate(50%, -20%);
}

.service_item_title {
  margin-top: 2rem;
  color: #101a24;
  text-align: center;
  font-size: 16px;
  font-family: David Libre;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 1.5rem;
}

.service_item_description {
  color: #5c6574;
  text-align: center;
  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.teams_section {
  position: relative;
  padding: 0 3rem 3rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.big_tor {
  position: absolute;
  fill: #101a24;
  top: 0;
  left: 10%;
  transform: translate(0, 10%);
  opacity: 0.10000000149011612;
}

.big_tor_small {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(10%, 50%);
  opacity: 0.10000000149011612;
}

.rameau_teams {
  position: absolute;
  top: 55%;
  right: 15%;
  transform: translate(15%, 55%);
  opacity: 0.10000000149011612;
}

.sheet_teams {
  position: absolute;
  bottom: 10%;
  right: 0;
  transform: translate(0, 10%);
  opacity: 0.10000000149011612;
}

.small_fleur_teams {
  position: absolute;
  left: 35%;
  top: 35%;
  transform: translate(35%, 35%);
}

.small_fleur2_teams {
  position: absolute;
  left: 45%;
  top: 40%;
  transform: translate(45%, 40%);
}

.teams_section_text {
  width: 47%;
}

.teams_section_text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.category {
  font-size: 13px;
  width: 85%;
}

.list_chef {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}

.list_item {
  width: 47%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

@media screen and (max-width: 800px) {
  .header {
    padding: 0 2rem !important;
    height: 50px;
    position: relative;
  }
  .nav img {
    width: 50px !important;
    height: 50px !important;
  }

  .nav_links {
    display: none;
  }

  .header_input {
    display: block !important;
    visibility: hidden;
  }

  .header_label {
    display: block !important;
  }

  .header_input:checked ~ .nav_links {
    display: block;
    position: absolute;
    top: 50px;
    width: 100% !important;
    left: 0;
    background-color: #fff;
    text-align: center;
    z-index: 99;
    height: 95vh;
    gap: 2rem !important;
  }

  .header_input:checked ~ .nav_links .link {
    margin-top: 2rem !important;
  }

  .hero {
    padding: 2rem;
  }

  .hero_image {
    display: none;
  }

  .hero_text {
    width: 100%;
  }

  .circle,
  .fleur,
  .sheet,
  .sheet_1,
  .rameau,
  .rameauInvercer {
    display: none !important;
  }

  .headline {
    font-size: 35px;
    line-height: 50px;
  }

  .hero_description {
    font-size: 18px;
  }

  .service_title {
    font-size: 38px;
  }

  .section_description {
    width: 100% !important;
    margin: 0 2rem !important;
    text-align: center !important;
    font-size: 14px !important;
  }

  .service_container {
    row-gap: 2rem !important;
  }

  .service_item {
    width: 100%;
  }
}
